@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --body-font: 'Poppins';
    --heading-font: 'Poppins';
    --padding-container: 60px 0;
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
}

body{
    font-family: var(--body-font);
    background-color: hsl(217, 28%, 15%);
}

/* Header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container) ;
}

.hero{
    background-color:hsl(198, 60%, 50%);
    position: relative;
    color: #fff;
    background-image: url(/images/gestion.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
}

.nav__img{
    width: 100px;
    display: block;
}

.nav__links{
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
    font-size: 17px;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    display: none;
}

.nav__cta{
    display: inline-block;
    width: 170px;
    padding: 10px;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    display: none;
}

.nav__hamburger{
    background-color: hsl(217, 28%, 15%);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.nav__link__hamburger{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}


.nav__hamburger.active{
    right: 0;
    background-color: hsl(217, 28%, 15%);
}

.nav__ham{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.nav__ham span{
    height: 5px;
    width: 100%;
    background-color: hsl(198, 60%, 50%);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    background-color: #f7f7f7;
}

.nav__ham.active{
    background-color: hsl(217, 28%, 15%);
}

.nav__ham span:nth-child(1){
    top: 25%;
    background-color: #f7f7f7;
}

.nav__ham span:nth-child(3){
    top: 75%;
    background-color: #f7f7f7;
}

.nav__ham.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #f7f7f7;
    
}

.nav__ham.active span:nth-child(2){
    opacity: 0;
    background-color: #f7f7f7;
}

.nav__ham.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #f7f7f7;
}

.hero__main{
    text-align: center;
    
}

.hero__img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
}

.hero__paragraph{
    line-height: 1.5;
    margin-bottom: 1.5em;
    font-size: 25px;
}

.hero__cta{
    display: inline-block;
    width: 200px;
    padding: 15px;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}