@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --body-font: 'Poppins';
    --heading-font: 'Poppins';
    --padding-container: 60px 0;
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
}

body{
    font-family: var(--body-font);
    background-color: hsl(217, 28%, 15%);
}

/* Header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:var(--padding-container) ;
}

.hero{
    background-color:hsl(198, 60%, 50%);
    position: relative;
    color: #fff;
    background-image: url(/images/gestion.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    font-family: var(--heading-font);
}

.nav__img{
    width: 100px;
    display: block;
}

.nav__links{
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
    font-size: 17px;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    display: none;
}

.nav__cta{
    display: inline-block;
    width: 170px;
    padding: 10px;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    display: none;
}

.nav__hamburger{
    background-color: hsl(217, 28%, 15%);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.nav__link__hamburger{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}


.nav__hamburger.active{
    right: 0;
    background-color: hsl(217, 28%, 15%);
}

.nav__ham{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.nav__ham span{
    height: 5px;
    width: 100%;
    background-color: hsl(198, 60%, 50%);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    background-color: #f7f7f7;
}

.nav__ham.active{
    background-color: hsl(217, 28%, 15%);
}

.nav__ham span:nth-child(1){
    top: 25%;
    background-color: #f7f7f7;
}

.nav__ham span:nth-child(3){
    top: 75%;
    background-color: #f7f7f7;
}

.nav__ham.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #f7f7f7;
    
}

.nav__ham.active span:nth-child(2){
    opacity: 0;
    background-color: #f7f7f7;
}

.nav__ham.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #f7f7f7;
}

.hero__main{
    text-align: center;
    
}

.hero__img{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero__title{
    font-family: var(--heading-font);
    margin: 2.5em 0 1em;
}

.hero__paragraph{
    line-height: 1.5;
    margin-bottom: 1.5em;
    font-size: 25px;
}

.hero__cta{
    display: inline-block;
    width: 200px;
    padding: 15px;
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}

/* Subscriptions */
.suscriptions{
    background-color: #f7f7f7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.suscriptions__title{
    margin-bottom: 4rem;
    color: hsl(198, 60%, 50%);
}

.suscriptions__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.suscriptions__card{
    background-color: #fff;
    color: hsl(233,13%,49%);
    border-radius: 1rem;
}

.active{
    background: hsl(198, 60%, 50%);
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

ul{
    padding-right: 2rem;
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

ul li.price{
    font: 3rem;
    color: hsl(231, 13%, 33%);
    padding-bottom: 2rem;
}

.shadow{
    box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.1);
}

.card.active .price{
    color: #fff;
}

.btn{
    margin-top: 1rem;
    height: 2rem;
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: hsl(198, 60%, 50%);
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
}

.active-btn{
    background: #fff;
    color: hsl(198, 60%, 50%);
}

.card.active .bottom-bar{
    border-bottom: 2px solid hsl(240,8%,85%, 0.253);
    text-align: center;
}

.bottom-bar{
    text-align: center;
}

.price{
    font-size: 3rem;
}

.price--active{
    color: #fff;
}

.pack{
    font-size: 1.1rem;
}

.footer{
    color: #000;
    background-color: #f4f4f4;
}

.footer__picture{
    width: 200px;
    margin-bottom: 2.5em;
}

.footer__title{
    text-align: center;
    margin-bottom: 1rem;
}

.footer__contact{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.footer__direction{
    color: #000;
    text-decoration: none;
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

.footer__direction--second{
    margin: 1em 0;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    margin-top: 2em;
}

.footer__link{
    color: #000;
    text-decoration: none;
    font-family: var(--heading-font);
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    margin: 0 auto;
    margin-top: 4em;
    width: max-content;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    gap: 1em;
}

.footer__smedia{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer__media{
    display: block;
}

.footer__icon{
    height: 25px;
}

@media (min-width:768px) {

    *{
        scroll-behavior: smooth;
    }

    .nav__link{
        display: block;
    }

    .nav__cta{
        display: block;
    }

    .nav__ham{
        display: none;
    }

    .nav__hamburger.active{
        display: none;
    }

    .hero__title{
        font-size: 3rem;
    }

    .hero__main{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }


    .cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3em 4em;
    }
   

    .join__container{
        max-width: 800px;
    }

    .join__form{
        padding-top: 1em;
        grid-template-columns: 1fr max-content;
    }

    .form__input--submit{
        margin-left: 7rem;
    }

    .footer__content{
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
        color: #000;
    }

    .footer__contact{
        max-width: 200px;
    }

    .footer__nav{
        margin-top: 0;
    }

    .footer__social{
        margin: 0;
    }

    .footer__direction--first{
        max-width: 300px;
    }

    .footer__direction--second{
        margin: 0 0 1em;
    }

}
